@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* ****************** application.min.css overrides *** */
.logo {
  height: auto;
  line-height: auto;
}
.sidebar {
  background-color: #141414;
}
.widget-login-logo img {
  height: auto;
  width: 200px;
}

/* ****************** CUSTOM *** */
.insverify-logo {
  max-width: 200px;
  width: 100%;
}

/**
 * setting correct urls
 */
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
  background-image: url("../img/select2.png"); }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: url("../img/select2x2.png") !important; } }

.select2-search input.select2-active,
.select2-more-results.select2-active,
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background-image: url("../img/select2-spinner.gif"); }
  
  /***********************************/
/**          Datatables           **/
/***********************************/
table.dataTable thead .sorting {
  background: url("../img/sort_both.png") no-repeat center right; }

table.dataTable thead .sorting_asc {
  background: url("../img/sort_asc.png") no-repeat center right; }

table.dataTable thead .sorting_desc {
  background: url("../img/sort_desc.png") no-repeat center right; }

table.dataTable thead .sorting_asc_disabled {
  background: url("../img/sort_asc_disabled.png") no-repeat center right; }

table.dataTable thead .sorting_desc_disabled {
  background: url("../img/sort_desc_disabled.png") no-repeat center right; }